{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "quotes": ["error", "double"],
        "no-debugger": "warn",
        "newline-per-chained-call": 1,
        "indent": ["error", 2]
    }
}