{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "quotes": ["error", "single"],
        "no-debugger": "warn",
        "newline-per-chained-call": 1
    }
}